/* top nav bar */

#top-nav {
    background-color: #f8f9fa; 
}
.brand{
    font-family: "Kameron", Georgia, "Times New Roman", serif;
    font-size: 1.6rem !important;
    color: #003d79 !important;
    padding-left: 10px; 
}

.auction-nav {
    font-family: Lato, sans-serif; 
    font-size: 1rem; 
    font-weight: 400; 
    text-transform: uppercase; 
    letter-spacing: 0.1rem
}
    
a.top-link {
    color: #0080ff !important;
    font-weight: 400;
}
a.top-link:hover {
    color: #0055cb !important; 
}
.top-link.active1 {
    color: #0055cb !important;
}


/* lower nav bar  */

.nav-head {
    background-color: #003d79;
}
.nav-org {
    color: #ffffff !important;
}
a.nav-org:hover {
    color: #b3d9ff !important;
    /* background-color: #004d99; */
}
.active2 {
    color: #b3d9ff !important;
    
}

/* lower nav bar  */
.btn-logout {
    border: solid 2px #0080ff !important; 
    color: #0080ff !important; 
    padding: 4px 10px;  
}
a.btn-logout:hover {
    color: #fff !important;
    background-color: #0055cb;
    border: solid 2px #0055cb!important; 
}
 
