body {
    color: #404040 !important;  
}
h2 {
    color: #003d79 !important; 
}
.label-name {
    margin-top: 15px; 
    line-height:.7rem; 
}
.btn-submit {
	color: #fff;
	background-color: #719949 !important;
    border: 1px solid #719949 !important; 
    width: 135px;
    margin: 0.2rem 0px; 
}
.btn-submit:hover{
    background-color: #668a42 !important;
    border: 1px solid #668a42 !important;
}
.btn-submit:active {
    background-color: #668a42 !important;
    border: 1px solid #668a42 !important;
}
