body {
    color: #404040 !important;  
}
.err-info {
    color: #719949; 
    font-size: 0.8rem; 
    margin-top: -0.3rem;
}
label.error {
    color: #99004d;
    font-size: 0.8rem; 
}
.label-name {
    margin-top: 15px; 
    line-height:.7rem; 
}
#donor {
    background-color: #f2f2f2;
    padding: 15px; 
    border-radius: 5px; 
    margin: 10px 0px; 
}
.custom-checkbox { 
    width: 1.2em;
    height: 1.2em;
}
.btn-submit, btn-submit:visited {
	color: #fff;
	background-color: #719949 !important;
    border: 1px solid #719949 !important; 
    width: 135px;
    margin: 0.2rem 0px; 
}
.btn-submit:hover, btn-submit:active{
    background-color: #668a42 !important;
    border: 1px solid #668a42 !important;
}
