/* .label-name {
    margin-top: 15px; 
    line-height:.7rem; 
}
.btn {
    margin: 15px 0px;
}
.edit-package {
    color: #007bff;
} */
.item-list {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 0.9rem; 
    color: #808080; 
    padding: 8px 8px 8px 12px; 
    background-color: #fbfde8;
}

.thumbnail{
	width: 100px;
	
}

th.small-col {
    width: 2%;
}

th.medium-col {
    width: 3%;
}

th.large-col {
    width: 4%;
}


/* Customized Checkbox */
.styled-checkbox {
    position: absolute;
    opacity: 0;
  }
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }
  .styled-checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: lightgray;
  }
  .styled-checkbox:hover + label:before {
    background: #007bff;
  }
  .styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }
  .styled-checkbox:checked + label:before {
    background: #007bff;
  }
  .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }
  .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }
  .styled-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 11px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }