
body {
  line-height: 1.7rem !important; 
}
.vmcf-brand {
  height: 2.3rem;
}
.brand{
  font-family: "Kameron", Georgia, "Times New Roman", serif;
  font-size: 2rem;
  color: #003d79;
  padding-left: 10px; 
}
.btn-ctlg {
  border: solid 2px #99004d !important;  
  background-color: #99004d !important;
  color: #fff !important;  
  font-weight: 500; 
  width: 180px; 
}
.btn-reg {
  border: solid 2px #fff!important; 
  color: #fff !important;
  font-weight: 500; 
  width: 180px; 
  padding: 0.75rem 0 !important;  
}
.btn-nav-reg {
  border: solid 2px #4d9900 !important; 
  background-color: #4d9900 !important; 
  color: #fff !important;
  font-weight: 500; 
  width: 90px; 
}
.btn-nav-login {
  border: solid 2px #003d79 !important; 
  color: #003d79 !important; 
  font-weight: 500; 
  width: 90px; 
}
a.btn-ctlg:hover {
  color: #fff !important;
  background-color: #cc0066 !important;
  border: solid 2px #cc0066 !important; 
}
a.btn-reg:hover {
  color: #fff !important;
  font-weight: 500;
  background-color: #66cc00 !important;
  border: solid 2px #66cc00 !important; 
}
a.btn-nav-reg:hover {
  color: #fff !important;
  background-color: #66cc00 !important;
  border: solid 2px #66cc00 !important; 
}
a.btn-nav-login:hover {
  color: #fff !important;
  background-color: #003d79 !important;
  border: solid 2px #003d79 !important; 
  color: #fff; 
}
.btn-centr{
  margin: 0 auto; 
  display: block;
}

/* HEADER AN AUCTION CONTENT */

.header-img {
  /* background-image: linear-gradient(to right,#003d79 20%,#8c2c8b 80%), url("/test_img.jpg");  */
  /* background-image: linear-gradient(to right,#0059b3 20%, #ae37ac 80%), url("/test_img.jpg"); */
  background-image: linear-gradient(to right,#0066cc 40%, #ce0066 90%), url("/test_header_img.jpg"); 
  background-blend-mode: multiply;
  background-size: cover; 
  opacity: .95;  
  width: 100%; 
  height: 72vh;
}
h1, h3 {
  font-family: "Kameron", Georgia, "Times New Roman", serif !important; 
  margin: 0 auto; 
  color: #fff !important;  
  text-align: center;
}
h2 {
  font-family: "Kameron", Georgia, "Times New Roman", serif !important; 
  color: #003d79 !important;
  font-weight: 700 !important; 
  font-size: 2.4rem !important; 
  margin: 0 auto; 
  text-align: center; 
  width: 85%;
}

.header-info {
  margin: 0 auto; 
  color: #fff !important;  
  font-size: 1.1rem; 
  line-height: 2rem; 
  text-align: center; 
  font-weight: 200; 
}

.welcome-message {
  font-size: 1.1rem;
  font-weight: 700; 
}

.btn-div {
  text-align: center;
  display: block; 
}

/* FEATURED PACKAGES CARDS */

.featured-card {
  height: 16rem;
  background-color: #f8f9f8 !important;
  border:solid 1px #f1f3f1 !important;  
  box-shadow: 2px 2px 5px rgba(0,0, 0, .3);
	-webkit-box-shadow: 2px 2px 5px rgba(0,0, 0, .3);
  -moz-box-shadow: 2px 2px 5px rgba(0,0, 0, .3);
  display: flex; 
  flex-flow: row wrap; 
  justify-content: start; 
  align-content: center;  
  position: relative; 
  text-overflow: hidden;  
}

.featured-img {
  height: 100px;
  display: block; 
  align-self: flex-start;  
}

.featured-box {
  display: inline-block; 
}

.featured-title {
  font-family: "Kameron", Georgia, "Times New Roman", serif !important; 
  font-size: 1.3rem; 
  font-weight: 700; 
}

.featured-bid {
  font-family: "Kameron", Georgia, "Times New Roman", serif !important; 
  font-size: 1.2rem; 
  font-weight: 900; 
  color: #4d9900 !important;
}

.featured-text {
  font-size: 0.9rem;
  line-height: 1.4rem; 
  color: #737373; 
  
}

.featured-num {
  width: 52px; 
  background-color: #99004d;
  color: #fff; 
  font-size: 0.8rem ; 
  font-weight: 500;  
  position: absolute; 
  padding: 10px; 
  text-align: center;
  top: 10px; 
  left: 10px; 
}

hr {
  display:block;
  border: none; 
  height: 1px; 
  background-color: #e3e8e3;
  /* background-color: radial-gradient(#f8f9f8, #5e6e5e, #f8f9f8);   */
} 

/* FOOTER */
.event-footer {
  padding: 2.5rem 0;
  text-align: center;
  background-color: #f1f3f1;
  border-top: .05rem solid #e3e8e3;
}


/* COUNTDOWN CLOCK */

.clock-num {
  /* color: #cce6ff; */
  color: #fff; 
  font-size: 2.7rem;
  font-weight: 400; 
  width: 5rem; 
  height: 2.7rem;
}

.clock-letters {
  /* color: #cce6ff; */
  color: #fff; 
  font-size: 0.8rem;
  font-weight: 200; 
  text-transform: uppercase;
  width: 5rem; 
  height: 2.7rem;
}
#event-start {
  display: none;  
}

#event-end {
  color: #f31;
  font-size: 1.6rem; 
  text-align: center; 
  text-transform: uppercase;
  letter-spacing: 0.2rem; 
}