.login-body {
   background-color: #f8f9fa;
}

.brand-login {
	font-family: Kameron, serif; 
	font-size: 1.3rem;
	padding: 20px 0 20px 0;  
}

.login-container {
   margin-top: 8%;
}

.login-card {
	padding: 35px 0px 30px 0px;
	background-color: #fff;
	border: 1px solid #c3ccd5; 
	/* box-shadow: 2px 2px 5px rgba(0,0, 0, .5);
	-webkit-box-shadow: 2px 2px 5px rgba(0,0, 0, .5);
	-moz-box-shadow: 2px 2px 5px rgba(0,0, 0, .5); */
}

.signin-img {
	padding: 0 2rem 2rem; 
	width: 325px;
	margin: auto; 
	display: block;  

}
.login-form {
	max-width: 300px;
	margin: auto;
}

.login-btn {
	color: #fff;
	background-color: #0080ff;
	width: 100%;
	margin: 1.2rem 0; 
	font-size: 1.1rem; 
}
.question {
	text-align: center;
	margin: 1rem auto;
	display: block;
	font-size: 0.9rem; 
}

