
.brand-white{
	font-family: "Kameron", serif;
	font-size: 1.75rem;
	color: #fff;
}
.dash-home{
	padding-left: 20px; 
}
.btn-logout {	
	border: solid 2px #fff;
	color: #fff;
	padding: 4px 10px;  
	font-weight: 400;
}
.btn-logout:hover {
	background: #0080ff;
	border: solid 2px #0080ff;
	color: #fff;
}
/* Organizer's Dashboard styles 
-------------------------------------------------------------- */
.jumbo-head {
	text-align: center;
	/* background-color: #eef3f6  ; */
	background-color: #edf1f8; 
	font-size: 1.1rem; 	
	color: #003d79;
}
.auction-list {
	background-color: #edf1f8;
	color:  #003d79; 

}
.btn-create {
	background: #0080ff;
	padding: 8px 12px; 
	border:none; 
	color: #fff !important; 
	 
}
.btn-create:hover {
	  background-color: #0055cb;
	  color: #fff; 
}


