/* Style sheet for the Organizer's main landing page */
body {
	color: #404040 !important;
}

/* Organizer's Header styles 
-------------------------------------------------------------- */
.brand {
    font-family: 'Lato', sans-serif !important;
    font-size: 1.2rem; 
    color: #ffffff !important; 
    font-weight: 500; 
    letter-spacing: .1rem; 
    padding-left: 10px; 
}
.dash-home{
	padding-left: 20px; 
}
.btn-logout {	
	border: solid 2px #fff !important;
	color: #fff !important;
	padding: 3px 10px;  
}
a.btn-logout:hover {
	background: #fff;
	border: solid 2px #fff;
	color: #003d79 !important;
}
/* Organizer's Dashboard styles 
-------------------------------------------------------------- */
.jumbo-head {
	text-align: center;
	color: #003d79;
	font-family: Lato, sans-serif;
	font-size: 24px; 
}
.main-card {
    min-height: 250px; 
    line-height: 2.5rem;
}
.btn-create {
	background: #719949; 
	border: solid 1px #719949;
	color: #fff; 
}
.btn-create:hover {
	background: #99004d !important;
	border: solid 1px #99004d !important;
	color: #fff; 
}
a.dash-link { 
	color: #99004d;
	decoration: none; 
}
a.dash-link:hover {
	color: #719949 !important;
	decoration: none !important; 
}

/* Organizer's Sticky footer styles - to be moved to its own component
--------------------------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
  	margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	background-color: #e3eaf0;
	color: #003d79;
	padding: 20px 10px; 
}
.footer-logo {
	height: 65px; 
	vertical-align: middle;
	display: block; 
}
/*---------------------------------------------------------------- */

