#cpObj {
	position: relative;
	box-sizing: unset;
	top: 30px;
	display: block;
}

#create_pdf {
	position: relative;
	top: 400px;
	z-index: 1;
}

td {
	height: 9px !important;
}

.dhtmlxcp_material div.dhxcp_g_area div.dhxcp_sub_area div.dhxcp_g_input_area table.dhxcp_inputs_cont {
	right: 25px !important;
}