body {
	font-size: 0.8rem !important;
}

.info {
	border: 1px solid #ff6746;
	border-radius: 10px;
	padding: 14px 14px 8px 14px;
	color: #ff6746;
	font-size: .8rem;
	margin-bottom: 15px;
}

.borderTitle {
	position: absolute;
	top: 59px;
	background: #FFF;
	padding: 6px;
	font-size: 1.2rem;
}

ol {
	padding-inline-start: 15px !important;
	margin-bottom: 5px !important;
}

#cpObj {
	position: relative;
	box-sizing: unset;
	top: 10px;
	display: block;
}

#tableRow {
	width: 100% !important;
}

tr:hover {
	background-color: #0055cb !important;
	color: #FFFFFF !important;
}

td {
	height: 9px !important;
	vertical-align: top !important;
    padding: 0.4rem !important;
    font-size: 0.8rem !important;
}

.narrow {
	width: 5% !important;
}

.medium {
	width: 15% !important;
}

.large {
	width: 20% !important;	
}

.dhtmlxcp_material div.dhxcp_g_area div.dhxcp_sub_area div.dhxcp_g_input_area table.dhxcp_inputs_cont {
	right: 25px !important;
}

.hide {
	display: none;
}

.hidden {
	visibility: hidden;
}

.dhxcp_inputs_cont td {
	vertical-align: inherit !important;
    padding: 0rem .3rem !important;
}

.fa-info-circle {
	font-size: 15px;
}

.to-save {
	color: #a2b209;
	font-size: 1.2rem; 
	margin-left: 0.5rem; 
	margin-right: 0.5rem;
	position: relative;
	top: 1.1px;
	cursor: pointer;
}

.to-pdf {
	color: #a2b209;
	font-size: 1rem; 
	cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0.5em 0.3em !important;
}

.saved-colors {
	position: relative;
	top: 350px;
}

/* Styling for upright */
.upright {
	width: 400px;
	height: 518px;
	text-align: center;
	background: rgb(32, 108, 194);
	color: #fff;
	padding: 15px 0px;
}

.donor, .packageId, .value, #fitin {
	background: black;
	position: relative;
}

.donor, .title, .image, #fitin {
	width: 100%;
}

.donor {
	height: 8%;
	font-size: 12px;
	padding: 1% 0px;
}

.resized-text {
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title {
	height: 9%;
	font-size: 60px;
	position: relative;
	margin: 2% 0px;
	font-weight: bold;
	letter-spacing: 0.5px;
}

.image {
	height: 40%;
	margin-bottom: 5%;
	font-size: 14px;
}

.flexible-photo {
	max-width: 90%;
	max-height: 100%;
	border: 5px solid black;
}

.packageId {
	bottom: 93%;
	width: 30%;
	text-align: right;
	padding: 1% 4% 1% 0px;
}

.value {
	bottom: 36.5%;
	left: 70%;
	width: 30%;
	text-align: left;
	padding-left: 5%;
	padding: 1% 0px 1% 4%;
}

#fitin {
	font-size: 20px;
	height: 35%;
	padding: 3% 0px;
}