
@import url('https://fonts.googleapis.com/css?family=Kameron|Lato|Oswald');

/* Border box fix
-------------------------------------------------------------- */
html {
  	box-sizing: border-box; 
}

*, *:before, *:after {
  	box-sizing: inherit; 
}

/* Common styles 
-------------------------------------------------------------- */
body {
	font-family: Lato, sans-serif;  
	color: #404040;
}

h1 {
	font-family: Kameron, serif; 
	color: #003d79;
} 

h2 {
	font-family: Lato, sans-serif; 
	color: #4567a8;
	font-size: 1.9rem; 
	font-weight: 700;  
}

h3, h4, h5 {
	font-family: Lato, sans-serif; 
	color: #003d79;
}

a:link { 
  color: #0080ff; 
	text-decoration: none; 
}
a:hover {
	color: #0055cb;
	text-decoration: none;
}

.pin {
	color: #ff2719; 
}

/* Common Page Styling (Create Auction, Edit Auction)
-------------------------------------------------------------- */
.mini-nav {
	background-color: #00184c;
	height: 6vh; 
	position: relative;
	padding: 0px; 
	margin-bottom: 4rem; 
}

.mini-header {
	background-color: #003d79;
	color: #fff; 
	height: 4rem; 
	width: 100% ; 
	padding: 1rem 3rem; 
	display: block; 
	position: absolute; 
	top: 40%;  
}

/* Common Styles Forms
-------------------------------------------------------------- */
.label-name {
	font-size: 0.9rem;
	line-height: 0.7rem; 
}

.label-search {
	font-size: 0.9rem; 
	color: #4567a8; 
	line-height: 0.7rem;   
}

input[type=text], input[type=email], input[type=date], input[type=time], 
input[type=number], input[type=search], input[type=password], 
select[name="category"], select[name="donorPrefix"] {
	font-size: 0.9rem; 
	color: #808080; 
}

input[type="text"].input-priority {
	font-size: 0.7rem !important; 
	color: #808080; 
}

input[type="text"]::placeholder {
	font-size: 0.9rem !important; 
	color: #808080; 
}

textarea {
	font-size: 0.9rem !important;
	color: #808080 !important; 
}

/* Common Styles Validations and Error Messages
-------------------------------------------------------------- */
.err-info {
	color: #4567a8; 
	font-size: 0.8rem; 
	margin-top: -0.3rem;
}
label.error {
	color: #ff2719;
	font-size: 0.8rem; 
}
 
/* Common Styles Buttons
-------------------------------------------------------------- */
.btn-submit {
	background-color: #0080ff; 
	color: #fff;
	border: none;  
	padding: 9px 15px; 
	min-width: 155px;  
}

.btn-add {
	background-color: #bacc14; 
	color:#262626;
	border: none;
	padding: 9px 15px; 
	min-width: 155px;  
} 

.btn-delete {
	background-color: #ff2719; 
	color:#fff;
	border: none; 
	padding: 9px 15px; 
	min-width: 155px;   
} 

.btn-submit:hover{
	background-color: #0055cb;
	color: #fff; 
}

.btn-delete:hover{
	background-color: #c30000;
	color: #fff; 
}

.btn-add:hover{
	background-color: #869b00;
	color: #262626; 
}

.btn-back {
	background-color: #a2b209; 
	color: #000;
	border: none;  
	padding: 9px 15px; 
	min-width: 155px; 
}

.btn-back:hover{
	background-color: #6f8300;
	color: #000; 
}

/* Specific to Add/Edit Item
-------------------------------------------------------------- */

#donor {
	background-color: #f2f2f2;
	padding: 15px; 
	border-radius: 5px; 
	margin: 5px 0px 15px 0px;  
}

.anonymous {
	font-size: 0.9rem !important; 
}

.to-edit {
	color: #a2b209;
	font-size: 1.1rem; 
	margin-right: 0.5rem; 
}

.to-delete {
	color: #ff2719;
	font-size: 1.1rem;
}


/* Organizer's Menu table style
-------------------------------------------------------------- */
/* td:hover {
  background-color: #ffffff;
} */

.table-hover>tbody>tr>.highlight:hover{
	background-color: #f5f5f5; 
	color:#0080ff;
  cursor: pointer;
}

.highlight {
  cursor: pointer;
}

.table-hover>tbody>tr>.cellBorder{
  border: 1px solid #dee2e6;
}

.table-bordered>tbody>tr>.noBorder{
  border: 0px!important;
}

.table-bordered>tbody>tr>.borderRight{
  border: 0px!important;
  border-right: 1px solid #dee2e6;
}

.table-bordered>tbody>tr>.borderSide{
  /*border: 0px 1px 0px 1px solid !important;*/
  border-top: 0px;
  border-bottom: 0px;
}


/* reset the default bootstrap style on tr:hover */
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th{
  background-color: #ffffff;
}

th {
  width: 10%;
}

td {
  height: 65px;
}

th{
	/* background-color: #EAEAEA; */
	background-color: #4567a8;
	color: #fff;
	font-size: 0.9rem; 
}

.table > tbody > tr > td {
	vertical-align: middle;
	font-size: 0.9rem; 
}

 /* Bob R. for List of Categories */
.categories-table-row {
	height: 40px !important;
}

/*td a{
  color:black;
  display:inline-block;
  width:100%;
}*/
