body.regist-body {
	background-color: #f8f9fa;
	color: #404040;
	font-family: Lato, sans-serif;
	font-size: 0.9rem;
}
.container.regist-container {
   margin-top: 4%;
   margin-bottom: 4%;
}
.regist-card {
	padding: 20px;
	background-color: #fff;
	border: 1px solid #c3ccd5;
}
img.signin-img {
	padding: 0 2rem 2rem; 
	margin: auto; 
	display: block;  
}
h3 {
	text-align: center;
	color: #003d79;
}
.star {
	text-align: center;
	margin: 0 auto 1.2rem auto;
	display: block;
	color: #003d79; 
	font-size: 0.9rem;
}
form.reg-form {
	max-width: 600px;
	margin: auto;
}
label {
	margin-bottom: 0.2rem;
	line-height: 0.7rem;
}
label.error {
	font-size: 0.8rem;
	color: #ff2719;
}
button.regist-btn {
	color: #fff;
	background-color: #0080ff;
	width: 55%;
	margin: 1.4rem auto; 
	display: block;
}
.question {
	text-align: center;
	margin: 1rem auto;
	display: block;
}

a {
	color: #0080ff;
}
