body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('/cssimg/imgbg.jpg');
}


@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');


h1,h2,h3,h4,h5,h6 {
  color:#000;
  
}
h1.h1 {
  text-align: left;
  padding: 0 0 0 15px;
  margin: 0;
}
