.navBg {
  background-color: #222;
border-color: #080808;
}
  #nav .row {
    background-color: #222;
  }
  #nav .navbar-inverse {
    height:auto; ;
  }

  .navBg .navbar-inverse {
    border:none;
  }

  .navBg .container {
    padding-left:0;
    padding-right:0;
    margin:0 auto;
  }

.nav li{
     display: block;
    font-size: 1.7em;
    color: antiquewhite;
    /*padding:5px;
    margin: 5px;*/
}



.form-inline {
  display: block; width:100%;
}

.nopad {
  padding-left:0;padding-right:0;
}

.navbar-brand {

  padding:15px 15px 15px 30px; display: block; float: left;
}


.close-white {
    color: #fff;
    opacity: 1;
}

@media screen and (min-width: 768px) {
  #nav .navbar-right {
    margin-right:0;
  }
}

/*************/
body {
  background: url('/cssimg/imgbg.jpg');
}
h1,h2,h3,h4,h5,h6 {
  color:#000;
  font-weight: bold;
}
.navBg {

border-color: #080808;
}
  #nav a {
    color:#ECECEC;
  }
  #nav .row {
    /*background-color: #222;*/

  }
  .hline {
    border-top: 1px solid #CCC;
    margin: 10px 0 10px 0;
  }
  table.packIntro {
    min-width: 300px;
    line-height: 200%;
    padding-bottom: 10px;
    display: block
  }
    table.packIntro td:first-child {
      width:115px;
      text-align: right;
      padding-right: 10px;
    }
    .curBid b, .curBid .placeBid{
      font-size: 1.5em;
    }
    .curBid span {
      color:red;
    }
      .curBid input {
        padding: 0px 5px;
        border:1px solid #333;
      }
      .curBid .placeBid {
        margin-left: 10px;
        padding:3px 20px;

        border: 1px solid #6194BC;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0090bc+0,006f9b+100 */
        background: #0090bc; /* Old browsers */
        background: -moz-linear-gradient(top, #0090bc 0%, #006f9b 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #0090bc 0%,#006f9b 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #0090bc 0%,#006f9b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0090bc', endColorstr='#006f9b',GradientType=0 ); /* IE6-9 */
      }

      p.packdescription {
        padding-left: 20px;
      }
