<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%if(admin){%>
      <%- include('adminHeader') -%>
    <%}else{%>
      <%- include('header') -%>
    <%}%>
    <h1>Hello World</h1>
  </body>
</html>
