<!DOCTYPE html>
<html lang="en" dir="ltr">
  	<head>
		<!-- Bootstrap -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/css/auctions.css">
		<title>Create an Auction</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
		
  	</head>
  	<body>
    	<div class="container mt-4">
			<h2 class="mb-3">Create Auction</h2>
      		<form action="/auctions" method="post">
				<div class="form-group">
					<label for="name" class="label-name" >Auction Name</label>
					<input type="text" name="name" id="name" class="form-control">
				</div>
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="startClockDate" class="label-name">Start Date</label>
						<input type="date" name="startClockDate" id="startClockDate" class="form-control">
					</div>
					<div class="form-group col-md-3">
						<label for="startClockTime" class="label-name">Start Time</label>
						<input type="time" name="startClockTime" id="startClockTime" class="form-control">
					</div>
					<div class="form-group col-md-3">
						<label for="endClockDate" class="label-name">End Date</label>
						<input type="date" name="endClockDate" id="endClockDate" class="form-control">
					</div>
					<div class="form-group col-md-3">
						<label for="endClockTime" class="label-name">End Time</label>
						<input type="time" name="endClockTime" id="endClockTime" class="form-control">
					</div>
				</div> 
				<div class="form-group">
					<label for="venue" class="label-name" >Venue</label>
					<textarea name="venue" id="venue" class="form-control" rows="1"></textarea>
				</div> 
				<div class="form-group">
					<label for="subtitle" class="label-name">Subtitle/Tagline</label>
					<textarea name="subtitle" id="subtitle" class="form-control" rows="1" ></textarea>
				</div>
				<div class="form-group">
					<label for="welcomeMessage" class="label-name">Welcome Message</label>
					<textarea name="welcomeMessage" id="welcomeMessage" class="form-control" rows="3"></textarea>
				</div>
				<div class="form-group">
					<label for="description" class="label-name">Description</label>
					<textarea name="description" id="description" class="form-control" rows="5"></textarea>
				</div>
				<div class="form-group">
					<label for="headerImage" class="label-name">Header Image</label>
					<input type="text" name="headerImage" id="headerImage" class="form-control">
				</div>
				<div class="form-group">
					<label for="auctionLogo" class="label-name">Auction Logo</label>
					<input type="text" name="auctionLogo" id="auctionLogo" class="form-control">
				</div>
	
          		<input type="submit" name="submit" value="Submit" class="btn btn-primary btn-submit">
        
      		</form>
  		</div>
  	</body>
</html>
