<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form class="" action="/auctions" method="post">
      <input type="text" name="name" value="">
      <input type="date" name="startClockDate" value="">
      <input type="time" name="startClockTime" value="">
      <input type="date" name="endClockDate" value="">
      <input type="time" name="endClockTime" value="">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
