<!DOCTYPE html>
<html>

<head>
    <title>
        Bidder Status Report
    </title>

</head>

<body>
  <%- include('header') -%>


  <h2>Bidder Packages Report</h2>

  <table class="table table-hover table-dark">

      <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">OUTBID PACKAGES</th>
            <th scope="col"></th>
        </tr>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th  scope="col">Current</th>
        </tr>
        <tr>
            <th scope="col">Package</th>
            <th scope="col">Package</th>
            <th  scope="col">High</th>
        </tr>
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th  scope="col">Bid ($)</th>
          </tr>
          <tr>
              <th scope="col">========</th>
              <th scope="col">========================================</th>
              <th  scope="col">==========</th>
          </tr>
      </thead>

      <tbody>
          <tr>
              <td>001</td>
              <td>Trip to the moon</td>
              <td>1,000,000</td>
          </tr>
          <!-- <tr>
              <td>002</td>
              <td>1 Case - Chateau Lafitte Rothchilde 1947</td>
              <td>80,000</td>
          </tr>

          <tr>
              <td>003</td>
              <td>Iphone 8</td>
              <td>3000</td>
          </tr> -->



      </tbody>
  </table>


  <table>

      <thead>
        <tr>
            <th th scope="col"></th>
            <th th scope="col">WINNING PACKAGES</th>
            <th  th scope="col"></th>
        </tr>
        <tr>
            <th th scope="col"></th>
            <th th scope="col"></th>
            <th  th scope="col">Current</th>
        </tr>
        <tr>
            <th th scope="col">Package</th>
            <th th scope="col">Package</th>
            <th  th scope="col">High</th>
        </tr>
          <tr>
              <th th scope="col">ID</th>
              <th th scope="col">Name</th>
              <th  th scope="col">Bid ($)</th>
          </tr>
          <tr>
              <th th scope="col">========</th>
              <th th scope="col">========================================</th>
              <th  th scope="col">==========</th>
          </tr>
      </thead>

      <tbody>
          <!-- <tr>
              <td>001</td>
              <td>Trip to the moon</td>
              <td>1,000,000</td>
          </tr> -->
          <tr>
              <td>002</td>
              <td>1 Case - Chateau Lafitte Rothchilde 1947</td>
              <td>80,000</td>
          </tr>

          <tr>
              <td>003</td>
              <td>Iphone 8</td>
              <td>3000</td>
          </tr>



      </tbody>
  </table>


</body>

</html>
