<!DOCTYPE html>
<html>

<head>
    <title>
        NewBid
    </title>

</head>

<body>

  <h2>New Bid (Popup)</h2>
  <div>
    <p>
      Package - ID: 001   Name: Trip to the Moon
    </p>
    <p>
      Current (High) Bid : US $ 1000.00
    </p>
    <p>
      Your Previous Bid : US $ 17.00
    </p>
  </div>
  <form>
    <p>
      <label>New Bid: US $ &nbsp
        <input placeholder="New Bid" type="text" name="bidAmt">
      </label>
    </p>
      (Enter US$ 1010.00 or more)
    <p>
       <input type="submit" value="New Bid">
       <input type="submit" value="Cancel">
    </p>
  </form>
    <p>
      Time Left          : 0h 05m 30s
    </p>


</body>

</html>
