<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Manage Categories</title>
  
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css"> 

  <!-- JavaSript -->
	<script src="https://code.jquery.com/jquery-3.4.0.js"   integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="   crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
   
</head>

<body>
		<div class="container-fluid mini-nav">
		  <h3 class="mini-header">Manage Item/Package Categories </h3> 
		</div> 

		<div class="container-fluid ml-4">
			<a href="/auctions/main"> <i class="fa fa-angle-double-left"></i> Back to Dashboard </a>
		</div>

		<div class="container col-sm-10 mt-4">
			<table id="cat-table" class="table table-striped table-bordered table-sm">
        <thead>
					<tr>
							<th scope="col" class="cat-name">Category Name</th>
							<th scope="col" class="cat-action">Actions</th>
					</tr>
					</thead>
		
			<tbody>
				<% for(c in categories){ %>
					<tr>
					<td class="cat-table"><%= categories[c].name %></td>
					<td><a href="/categories/<%= categories[c]._id %>/delete"><i  class="far fa-trash-alt to-delete"></i></a></td>
					</tr>
				<%}%>
				</tbody>
			</table>
			<p class="note mt-2"> ***Note: These categories are valid for all auctions. A newly added category will appear in all auctions. Deleting a category will impact both current and past auctions." </p>
			
			<!-- Form - Add New Category -->
			<p class="new-cat">Add a New Category:<p>
			<form action='/categories' method='post'>
				<div class="form-group row">
					<div class="col-sm-12">
						<input placeholder="Insert New Category" type="text" name="name" id="categoryName" class="form-control" >
					</div>
				</div>
				<input type='submit' class="btn btn-add mt-1 mb-5" value='Submit New Category' >
			</form>
    </div>

    <script type="text/javascript">
			if (window.location.search.substring(1) === 'true') {
			console.log('alert dialog.  window.location.search = ',window.location.search)
				alert('that was a success')
			}
    </script>
    
</body>
</html>

