<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Clerk's Dashboard
        </title>
        <!-- pdfmake scripts -->
        <script src='/pdfmake/pdfmake.js'></script>
        <script src='/pdfmake/vfs_fonts.js'></script>
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <!-- sockets -->
        <script src="/socket.io/socket.io.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/css/clerkDash.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
            crossorigin="anonymous">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        
    </head>
    <body>
        <%- include('clerkHeader') -%>
        <div id="buttons">
            <div class="">
                <button type="button" id="checkinButton"  class="btn btn-add mb-4 show-modal" data-toggle="modal" data-target="#itemsModal">
                        Check in
                        </button>
                <!-- <a  id="checkOutButton" class="btn btn-add mb-4" href="'/'+req.session.auction+'/clerkCheckOut-shell'">Check out</a> -->
                <a  id="checkOutButton" class="btn btn-add mb-4" href="clerkCheckOut-shell">Check out</a>
                <button type="button" id="retrieveButton" class="btn btn-add mb-4 show-modal" data-toggle="modal" data-target="#itemsModal">
                        Retrieve won packages
                        </button>
            </div>    
        </div>
        <div id="resultCheckin">
                <%- include('clerkCheckIn') -%>
		</div>
		<div id="clerkCheckOutDiv">
			Clerk Checkout Div
			<div>
				include('clerkCheckOut')
			</div>
		</div>
        <script>
            $(document).ready(function(){
                var $result = $('#result');
                var $checkout = $('#clerkCheckOutDiv');
                $('#resultCheckin').hide();
                $('#clerkCheckOutDiv').hide();

                $('#checkinButton').click(function(){
                     $result.load('/clerkCheckIn');
                   
                    // $('#resultCheckin').show();
				});
				
				$('#checkOutButton').click(function(event){
        			// event.preventDefault();
					// window.location.replace('/' + req.session.auction + '/clerkCheckOut-shell')
					
				})
			});

        </script>
    </body>
</html>
