<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <title>.CSV Upload</title>
  </head>
  <body>
	<%if(admin){%>
		<%- include('adminHeader') -%>
	<%}else{%>
		<%- include('header') -%>
	<%}%>
	<div class="container mt-4">
		<h3>Import Items from .csv File</h3>
		<form action="/<%=auction%>/items/itemsCsv" method="POST" enctype="multipart/form-data">
	


			<div class="form-group">
				<label for="csvUpload" class="label-name text-black-50">File Name</label>
				<input type="file" name="csvUpload" id="csvUpload" class="form-control">
			</div>
			<input id="submit" type="submit" name="submit" value="Submit" class="btn btn-primary btn-submit">

		</form>
	</div>
  </body>
</html>
