<!DOCTYPE html>
<html>

<head>

<title>
	Packages
</title>
<link rel="stylesheet" type="text/css" href="/css/packageStyle.css">
<script src="/socket.io/socket.io.js"></script>

<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script type='text/javascript'>
	var socket = io.connect('http://localhost:8000/');
	// var socket = io.connect('http://dv1.elizabid.com/');


			$(document).ready(function(){
        socket.on("serverTalksBack", function(data){
          $('.currentBid'+data.packId).text(data.bid + " (by: " + data.userName + ")")
          console.log(data.bid);
        })

        $("#keyword").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $(".package").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

      $("select[name='category']").change( function() {
          var value = $(this).val().toLowerCase();
          $(".package").filter(function(){
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          })
      });
      $("#noBids").click(function() {
        $(".bids").toggle();
        $(this).text($(this).text() == 'Show All' ? 'No Bids Yet' : 'Show All')
      });
    })

		</script>
</head>

<body>
    
    
		<%- include('header') -%>
	
  

    <% for (var i = 0; i < packages.length; i++) {%>
        <h5><%= packages[i].name %></h5>

    <%}%>     


</body>

</html>