<link rel="stylesheet" href="/css/footer.css"> 

<div class="footer">

	<p id="timeLeft"> Time Left: <br>
	<span class="timer" data-endClock="<%= auctionDetails.endClock %>"></span></p>
</div>

<script>

	// Updates packageShow page with bid price
	var socket = io.connect()

	function hideFunction(packageId) {
		console.log("Hide Function",packageId);
		var x = document.getElementById("notification-"+packageId);
		x.style.display = "none";
	}

	$(document).ready(function () {
		socket.on("outBidNotification-<%= user.firstName +' '+ user.lastName %>", function (data) {
			// console.log("Package Bids Array Length",data.package.bids);
				$("<p style= 'color:red' id='notification-"+data.package._id+"'>You've been outbid by "+ data.package.bids[data.package.bids.length-1].name+" for package "+data.package.name+".<button class='mr-1 ml-1'><a href='/"+data.package._auctions+"/packages/"+data.package._id+"'>Bid</a></button><button onclick='hideFunction("+data.package._id+")'>Dismiss</button></p>").insertBefore("#timeLeft");
			});

	});

	const desktopClock = document.getElementsByClassName('timer')[0];
	
	function countdown(endDate) {
		let timer, days, hours, minutes, seconds;
	
		endDate = new Date(endDate).getTime();
	
		if (isNaN(endDate)) {
			return;
		}
	
		timer = setInterval(calculate, 1000);
	
		function calculate() {
			let startDate = new Date().getTime();
		
			let timeRemaining = endDate - startDate;
		
			if (timeRemaining >= 0) {
		
				days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
				hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
				seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);
			
				if (days < 1) {
					desktopClock.innerHTML = `
						<span>${hours}</span> hours,
						<span>${("" + minutes).slice(-2)}</span> minutes
						`
					if (hours < 2) {
						desktopClock.innerHTML = `
						<span>${hours}</span> hour,
						<span>${("" + minutes).slice(-2)}</span> minutes
						`
						if (hours < 1) {
							desktopClock.innerHTML = `
							<span>${("" + minutes).slice(-2)}</span> minutes
							`
						}
						if (minutes < 3) {
							desktopClock.innerHTML = `
								<span>Time Left: ${("" + minutes).slice(-2)}</span> minutes,
								<span>${("" + seconds).slice(-2)}</span> seconds
								`
						}
						if (minutes < 1) {

							desktopClock.style.color = '#c30000';

							desktopClock.style.fontWeight = 'bold';
							desktopClock.innerHTML = `
								<span>${("" + seconds).slice(-2)}</span> seconds
								`
						}
					}
				} else {
					desktopClock.innerHTML = `
						<span>${days}</span> days,
						<span>${("" + hours).slice(-2)}</span> hours,
						<span>${("" + minutes).slice(-2)}</span> minutes
					`
					if (days < 2) {
						desktopClock.innerHTML = `
							<span>${days}</span> day,
							<span>${("" + hours).slice(-2)}</span> hours,
							<span>${("" + minutes).slice(-2)}</span> minutes
						`
					}
				}
			} else {

				desktopClock.style.color = '#c30000';
				desktopClock.style.fontWeight = 'bold';
				desktopClock.innerHTML = 'Auction has ended';
				document.getElementsByTagName('span')[0].style.display = 'none';
			}
		}
	}
	
	(function () {
		let endTime = desktopClock.dataset.endclock;
	
		countdown(endTime);
	}());
	</script>
