<!DOCTYPE html>
<html>

<head>
    <title>
        Item Report
    </title>

</head>

<body>
  <nav>
    <a href="/item/bidder">Items</a> |
    <a href="/package/bidder">Packages</a> |
    <a href="/bid/bidder">Bids</a> |
    <a href="/profile/bidder">Profile</a> |
    <a href="/cart/bidder">Cart</a>

  </nav>
  <h2>Item Report</h2>

  <table>
      <thead>
        <tr>
            <th>Item</th>
            <th>Item</th>
            <th>Package</th>
            <th>Package</th>
        </tr>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Name</th>
              <th>ID</th>
          </tr>
          <tr>
              <th>========</th>
              <th>========================================</th>
              <th>========================================</th>
              <th>========</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>001</td>
              <td>Ticket to Moon</td>
              <td>950,000</td>
              <td>001</td>
          </tr>
          <tr>
              <td>002</td>
              <td>Space Suit</td>
              <td>50,000</td>
              <td>001</td>
          </tr>
          <tr>
              <td>003</td>
              <td>Iphone 8</td>
              <td>3000</td>
              <td>002</td>
          </tr>
          <tr>
              <td>004</td>
              <td>14 Weeks atCoding Dojo</td>
              <td>1,200</td>
              <td>003</td>
          </tr>

      </tbody>
  </table>

</body>

</html>
