<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>

    <%- include('header') -%>
    <div class="container">
      <div class="well my-4">
        <form id="loginForm" class="ml-0" action="/users/login" method="POST">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">User Name</label>
            <div class="col-sm-10">
              <input placeholder="User Name" type="text" name="userName" id="userName" class="form-control" value required>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input placeholder="Password" type="password" name="password" id="password" class="form-control" >
            </div>
          </div>

          <input type="submit" name="submit" value="submit" id="submit" class="btn btn-default">

        </form>

      </div>
    </div>
    <script type="text/javascript">
        $('#submit').click(function(event){
          console.log('start');
          event.preventDefault()
          console.log("wow");
          $.ajax({
            type: "POST",
            url: 'http://localhost:8000/users/checklogin',
            data: {"userName":$('#userName').val(), "password":$('#password').val()},
            success: function(data){
              console.log('ho');
                if(data.match == false){
                    alert('username and password do not match')
                }else {
                  if (data.auction == undefined){
                    //This will direct to the landing page for admins, which is yet to be built
                    //For testing purposes, plugged in an auction id below
                    window.location.replace('/5aeb8667d706dc88cfe67a29/packages')
                  }
                  else{
                    window.location.replace('/' + data.auction + '/packages')
                  }
                }
              }
          })
        })
    </script>
  </body>
</html>
