<!DOCTYPE html>
<html>
  	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Login | Elizabid Silent Auction by VMCF </title>

		<!-- Bootstrap -->

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    	<link rel="stylesheet" type="text/css" href="/css/style.css">    
		<link rel="stylesheet" href="/css/login.css">

		<!-- JavaScript -->
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  	</head>

	<body>
		<div class="container-fluid mini-nav">
			<p class="mini-header brand-login text-center">Welcome to elizabid Bidding Platform </p>
		</div>  

		<div class="container login-container">
			<div class="row">
				<div class="col-12"> 
					<div class="card login-card">
						<div class="card-body">
							<img src="/VMCF_Logo_Blue_rgb.png" class="login-img" alt="Responsive logo">
							<form class="login-form">
									<div class="form-group">
										<label for="userName" class="label-name">User Name/Email</label>
										<input class="form-control" type="text" name="userName" id="userName" value required>
									</div>
									<!-- PASSWORD TEMPORARILY DISABLED -->
									<div class="form-group">
										<label for="password" class="label-name">Password</label>
										<input class="form-control" type="password" name="password" id="password" disabled >
									</div> 

									<button type="submit" id="submit" class="btn login-btn btn-lg">Log In</button>
							</form>
							<div class="question">
								<a href="mailto: Julie.Ott@hhs.sccgov.org">Need help logging in?</a><br>
								<a href="/clerk/login">Volunteering as an auction clerk?</a><br>
							</div>
						</div>
					</div>
				</div>
	
			</div> <!-- end row -->
		</div> <!-- end container -->

		<script type="text/javascript">
			$('#submit').click(function(event){
				console.log('running login ajax script');
				event.preventDefault();
				$.ajax({
					type: "POST",
					url: '/users/checklogin',
					data: {"userName":$('#userName').val(), "password":$('#password').val()},
					success: function(data){
						console.log('data = ',data)
						if(data.match == false){
							alert('Username and password do not match')
						} else {
							if (!$('#userName').val()) {
								alert('Please enter a username');
							}
							else if (data.admin == 2){
								window.location.replace('/auctions/main')
							}
							else{
								window.location.replace('/' + data.auction + '/packages')
								// window.location.replace('/' + data.auction + '/supporter/' + data.userId)
							}
						}
					console.log('inside last ajax line');
					},
					
				})
				console.log('post ajax');
			});
		</script>
  	</body>
</html>
