<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>package creation</title>
  </head>
  <body>
    <h3>create package</h3>
    <form class="" action="/api/packages" method="post">
      <input type="text" name="packageName" placeholder="packageName">
      <textarea name="packageDescription" rows="8" cols="40" placeholder="Package description"></textarea>
      <select class="" name="category" >
        <% for (var c in categories){%>
          <!-- add radio and jquery to make only one catagory option apear
        or Make a seperate page to creat catagories -->
          <option value="<%=categories[c].name%>"><%=categories[c].name%></option>
        <%}%>
      </select>
      <input type="number" name="openingBid" value="">
      <input type="number" name="increments" value="">

      <!-- need a read only feild with the current number selected -->
      <% totalAdd = function(){ %>
        <%var checkbox = document.getElementById("check");%>
      <%  if (checkbox.checked == true){%>
        <%  total += value%>
      <%  }%>
      <%}%>
      <%for (var i in items){%>
      <%=items[i].name%><input type="checkbox" name="selectedItems" id="check" value="<%items[i].value%>" onChange='<%total+=items[i].value%>'>
      <%}%>
      <input readonly type="number" name="totalValue" value="<%=total%>">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
