<!DOCTYPE html>
<html>

<head>
    <title>
        Package Bidding Report
    </title>

</head>

<body>
  <nav>
    <a href="/items">Items</a> |
    <a href="/packages">Packages</a> |
    <a href="/bids">Bids</a> |
  </nav>
  <h2>Package Bidding Report</h2>

  <table>

      <thead>
        <tr>
            <th></th>
            <th></th>
            <th >Current</th>
        </tr>
        <tr>
            <th>Package</th>
            <th>Package</th>
            <th >High</th>
        </tr>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th >Bid ($)</th>
          </tr>
          <tr>
              <th>========</th>
              <th>========================================</th>
              <th >==========</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>001</td>
              <td>Trip to the moon</td>
              <td>1,000,000</td>
          </tr>
          <tr>
              <td>002</td>
              <td>1 Case - Chateau Lafitte Rothchilde 1947</td>
              <td>80,000</td>
          </tr>
          <tr>
              <td>003</td>
              <td>Iphone 8</td>
              <td>3000</td>
          </tr>

      </tbody>
  </table>

</body>

</html>
