<!DOCTYPE html>
<html>
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Thank You</title>

		<!-- Bootstrap & CSS -->

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/style.css">    
		<link rel="stylesheet" href="/css/user.css"> 
     </head>  


     <body>

		<div class="container-fluid mini-nav">
			<p class="mini-header brand-login text-center">Welcome to elizabid Bidding Platform </p>
		</div>  

		<div class="container thanks-container">
			<div class="row">
				<div class="col-12 text-center">   
                    <p class="thanks">Thank you for registering for the <strong><%= auctionName %> </strong> auction.</p>
                    <p class="mt-4">Just before the auction begins, you will receive a text message on your phone, with a unique link to the auction bidding application.</p> 
                    <p class="donot mt-1">Do not forward this link to anyone. It is private for you!</p>

                    <p class="display-4 happy mt-5">Happy Bidding!</p>
					<p class="display-4 happy"><i class="fas fa-trophy"></i></p>
                </div>  
            <div>
        </div>
    </body>
</html>                