<!DOCTYPE html>
<html>

<head>
    <title>
        Create New User
    </title>

</head>

<body>
  <%if(admin){%>
  <%- include('admin_header') -%>
  <%}else{%>
    <%- include('header') -%>
  <%}%>
  <h2>Create User Profile</h2>

  <form action="/api/users" method="post">
          First Name:&nbsp
          <input placeholder="First Name" type="text" name="firstName">
      <label>
          Last Name:&nbsp
          <input placeholder="Last Name" type="text" name="lastName">
      </label>

    <p>
    <label>Address:&nbsp
      <input size="30" placeholder="Strees Address" type="text" name="streetAddress">
    </label>
  </p>
  <p>
      <label>City:&nbsp
        <input placeholder="City" type="text" name="city">
      </label>
      <label>State:&nbsp
       <input size="2" placeholder="ST" type="text" name="states">
      </label>
      <label>Zip:&nbsp
       <input placeholder="Zip" type="text" name="zip">
      </label>
  </p>
  <p>
    <label>Phone:&nbsp
     <input placeholder="Phone" type="text" name="phoneNumber">
    </label>
  </p>
  <p>
    <label>Email Adress:&nbsp
      <input placeholder="Email Address" type="text" name="email">
    </label>
  </p>
  <p>
    <label>Username:&nbsp
      <input placeholder="Username" type="text" name="userName">
    </label>
  </p>
  <p>
    <label>Password:&nbsp
      <input placeholder="Password" type="password" name="password">
    </label>
  </p>


  <p>
     <input type="submit" value="Submit">
  </p>
  </form>
  </div>

</body>

</html>
