<!DOCTYPE html>
<html>
  	<head>
		<meta charset="utf-8">
		<title><%=user.userName%></title>
  	</head>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.js"></script>
  	<body>
		<%if(admin){%>
			<%- include('adminHeader') -%>
		<%}else{%>
			<%- include('header') -%>
		<%}%>
    <h3><%=user.firstName%> Welcome to Your Account </h3>
	<p>Here you can change your password and edit your personal information.</p>

    <div class="container regist-container">
			<div class="row">
				<div class="col"></div>  <!-- this column is for equal space on the margins -->
				<div class="col-sm-12 col-md-8">  <!-- the column where all our content will go; for medium and larger use size 8; for mobile (small), use the full screen (size 12); -->
					<div class="card regist-card">
						<div class="card-body">
							<form class="reg-form" id="registrationForm" method = "POST" action=""> 
							
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="firstName">First Name</label>
										<input type="text" name="firstName" id="firstName" class="form-control">
									</div>
									<div class="form-group col-md-6">
										<label for="lastName">Last Name</label>
										<input type="text" name="lastName" id="lastName" class="form-control">
									</div>
								</div>
								<div class="form-group">
										<label for="phoneNumber">Cell Phone Number</label>
										<input type="text" name="phoneNumber" id="phoneNumber" class="form-control"  >
								</div>
								<div class="form-group">
									<label for="streetAddress">Address</label>
									<input type="text" name="streetAddress" id="streetAddress" class="form-control">
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="city">City</label>
										<input type="text" name="city" id="city" class="form-control">
									</div>
									<div class="form-group col-md-3">
										<label for="states">State</label>
										<input type="text" name="states" id="states" class="form-control">
									</div>
									<div class="form-group col-md-3">
										<label for="zip">Zip</label>
										<input type="text" name="zip" id="zip" class="form-control">
									</div>
								</div>	
								<!- userName is non-editable -->
								<div class="form-group">
										<label for="userName">User Name*</label>
										<input type="email" name="userName" id="userName" placeholder="Your email" class="form-control">
								</div>
								<div class="form-row">	
									<div class="form-group col-md-6">
										<label for="password">Old Password</label>
										<input type="password" name="password" id="password" class="form-control">
									</div>
									<div class="form-group col-md-6">
										<label for="confirm">New Password</label>
										<input type="password" name="newPassword" id="newPassword" class="form-control" >
									</div>
									
								</div>
								<button type="submit" class="btn regist-btn btn-lg">Edit</button>
								<button type="submit" class="btn regist-btn btn-lg">Submit</button>
							</form>
							
						</div><!-- End card-body-->
  </body>
</html>
