.package-info{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    /*width: 300px;*/
}
.displaySelectedItems{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}
#package-container{
    /*border: 1px solid gray;*/
    padding: 5px;
    margin: 5px;
}
.item-select{
    border: 1px solid gray;
    padding: 3px;
    margin: 5px;
}