.package-info{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.displaySelectedItems{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    height: 177px;
    overflow: scroll;
}
#package-container{
    padding: 5px;
    margin: 5px;
}
#package-container label{
    white-space: nowrap
}
.item-select{
    border: 1px solid gray;
    padding: 3px;
    margin: 5px;
}
.itemsList{
    overflow: scroll;
    height: 400px;
}