.package-info{
    border: 1px solid gray;
    /*padding: 5px;*/
    /*margin: 5px;*/
    text-align: center;
}
.displaySelectedItems{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    height: 200px;
    overflow: scroll;
}
#package-container{
    padding: 5px;
    margin: 5px;
}
#package-container label{
    white-space: nowrap
}
.item-select{
    border: 1px solid gray;
    padding: 3px;
    margin: 5px;
}
.itemsList{
    overflow: scroll;
    height: 400px;
}
.package_card{
    display: inline-block;
    border: 1px solid gray;
    margin: 3px;
    width: 300px;
    /*height: 150px;*/
    background-color: peachpuff;
}
.card img{
    /*width: 200px;
    height: 100px;*/
    border: 1px solid gray;
}

#packageInfo .form-control {
  width:95%;
}
.packageDescription{
    text-overflow: ellipsis;
}
