.registration-form{
    padding: 10px;
    margin: 5px;   
}

.btn{
    font-size: 20px;
}

/*#submit{
    width: 100px
    }
 
#firstName{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}
#lastName{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}
#address{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}
#phoneNumber{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
} 
#email{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}
#userName{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}
#password{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}
#cnfmPassword{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}*/