.bidContainer{
    margin: auto;
    height: 550px;
}
.imgNtitle, .bidDetails{
    display: inline-block;
}
.img-thumbnail{
    width: 100%;
    max-width:400px;
    height: auto;
    border: 1px solid gray;
}
.packageName, .bidDetails, .packageDescription{
    text-align: left;
}
.bidSection{
    background-color: cadetblue;
    padding: 5px;
    width: 300px;
}
.bidInput{
    background-color: burlywood;
}
.donor-info{
    font-weight: bold;
    color: orangered;
}
