.bidContainer{
    margin: auto;
    height: 550px;
}
.imgNtitle, .bidDetails{
    display: inline-block;
}
.img-thumbnail{
    width: 200px;
    height: 200px;
    border: 1px solid gray;
}
.packageName, .bidDetails, .packageDescription{
    text-align: left;
}
.bidSection{
    background-color: cadetblue;
    padding: 5px;
    width: 300px;
}
.bidInput{
    background-color: burlywood;
}   