.form-block{
    display: inline-block;
    margin-right: 45px;
}
.search-block{
    display: inline-block;
}

img.card_img {
  width:300px
}



.package-item {

}
.package-item h3, .package-item p {
  text-align: left;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}
